.tableCaptions{
  text-align: center;
  font-family: "Helvetica Neue";
  color:  rgb(56,56,56);
  font-size: 135%;
  font-weight: bold;
}

#weekliesppTable {
    margin: auto;
    width: 80%;
    background-color: white;
    border-color: rgba(151,187,205,1);

}

#weekliesppTable, th, td {
    border-bottom: 1px solid #ddd;
}

#weekliesppTable, th {
  text-align: left;
  padding: 10px;
  color: rgb(72,72,72);
  ;

}
#bottomCharts {
  width: 80%;

}


#badRulesTable {
  margin: auto;
  width: 90%;
  font-size: 110%;
}
#clfTable{
  margin: auto;
  width: 90%;
  font-size: 110%;
}

#insightsChart {
   height: 100%;
}

th {
    background-color: rgba(151,187,205,1);
}
.crt-chart {
    margin: auto;
    width: 80%;
  
}

