<!doctype html>
<html>
<head>
    <title>CRT</title>
    <link rel="stylesheet" type="text/css" href="/static/nav.css">
</head>
<body>
<div class="nav">
    <ul>
    {% if "reviewer id" in session %}
        <li><a class="navbutton" href="/"><b> {{ session['handle'] }}</b></a></li>
        <li><a class="navbutton" href="/">{{rev_count }} reviews today</a></li>
        <li><a class="logbutton" href="/logout">Logout</a></li>
    {% endif %}
    {%if "reviewer id" not in session %}
        <li><a class="logbutton" href="/login">Log in</a></li>
    {% endif %}
    </ul>
</div>
<br>
    
    {% for message in get_flashed_messages() %}
    {{message}}
    {% endfor %}

    {% block content%}


    {%endblock%}

</body>
</html>



