{% extends 'base.html' %}



{% block content %}
<h3> Human Review Data </h3>
<div class="crt-chart">
  <canvas id="dailiesChart"></canvas>
  <canvas id="agreementChart"></canvas>
</div><br>


<table id="weekliesppTable">
    <caption><h3>Weekly Reviews By Reviewier</h3></caption>
    <tr>
        <th>Week</th>
        <th>Reviewer</th>
        <th>Total Reviews</th>
    </tr>

{% for item in weekliespp %}
    <tr>
        <td>{{ item[0] }}</td>
        <td> {{ item[1] }}</td>
        <td> {{ item[2] }}</td>
    </tr>
{% endfor %}
</table>

<h3> Classifier Data </h3>
<div class="crt-chart">
    <canvas id="automationChart"></canvas>
</div><br>

<div class="container-fluid" id="bottomCharts">
    <div class = "row">
            <div class = "col-xs-6">
            <table id="badRulesTable">
                    <caption><h3>Rules returning errors</h3></caption>
                    <tr>
                        <th>Rule</th>
                        <th>Error Count</th>
                    </tr>

                {% for item in badrules %}
                    <tr>
                        <td>{{ item[0] }}</td>
                        <td> {{ item[1] }}</td>
                    </tr>
                {% endfor %}
            </table>
            </div>
            <div class = "col-xs-6">
                <table id="clfTable">
                <caption><h3>Classifier Performance</h3></caption>

                <tr>
                    <td>Precision: {{ clfperformance[0] }}%        +/- {{clfperformance[1] }}</td>
                </tr>
                <tr>
                    <td>Recall: {{ clfperformance[2]  }}%          +/- {{clfperformance[3] }}</td>
                </tr>
            </table>
            </div>
    </div>
</div>



<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
<script src ="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script src="/static/js/dashboard.js"></script>

{% endblock %}



