{% extends 'base.html' %}



{% block content %}
<div class="crt-chart">
  <canvas id="dailiesChart"></canvas>
  <canvas id="agreementChart"></canvas>
</div>


<link rel="stylesheet" type="text/css" href="/static/dashboard.css">
<script src ="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script src="/static/dashboard.js"></script>

<table id="weekliesppTable">
    <tr>
        <th>Week</th>
        <th>Reviewer</th>
        <th>Total Reviews</th>
    </tr>

{% for item in weekliespp %}
    <tr>
        <td>{{ item[0] }}</td>
        <td> {{ item[1] }}</td>
        <td> {{ item[2] }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}



