{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
 

<h3>
    <br> The <b>C</b>ontent <b>R</b>eview <b>T</b>ool welcomes you.<br><br>

    {% if "reviewer id" in session %}
        <a href="/queue">Comments Queue</a><br>
        <a href="/image-queue">Images Queue</a><br>
        <a href="/picker">Review Comments by Subreddit</a><br><br><br>
    {% endif %}

        <a href="/training">Getting Started: Policies &amp; Tooltips</a><br>
        <a href="/dashboard">Operations Dashboard</a><br>
        <a href="/insights-dashboard">Insights Dashboard</a><br>
        <a href="/add-reviewer">Add new reviewer</a>

</h3>
</div>

{% endblock %}


