{% extends 'base.html' %}

{% block content %}



<div class="container-fluid">
<div id="subreddit-area">
    {% for item in surprise %}
        {{ item }}<br>
    {% endfor %}
</div>

<div id="status-area">
    <h4>API kittens fetching as fast as they can! Thanks for waiting.<h4><br>
    <img src="static/images/cats/water.gif"><br>
    <h4>If they don't find anything, please try again!<h4>
</div>

<form id="pickerhandler" action="/picker-handler", method="POST">
    Subreddit: <input type="text" name="subreddit" required> <button type="button" id="inspire">Inspire me</button><br>
    Sort: <select name="sort">
            <option value="top">Top</option>
            <option value="new">New</option>
            <option value="controversial">Controversial</option>
            

        </select><br>
    Time: <select name="time">
            <option value="week">Week</option>
            <option value="day">Day</option>
            <option value="month">Month</option>
        </select><br>

    <input type="submit" value="Go" id="gogo">
</form>



</div>
<script src ="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/static/js/picker.js"></script>

{% endblock %}
