{% extends 'base.html' %}

{% block content %}

{% for comment in comments %}
<div id="reviewobject-{{loop.index}}">
Review Item {{loop.index}}<br>
<b>Comment ID:</b>{{comment.link_id}} <a href="https://www.reddit.com/{{ comment.permalink }}" target="_blank">View on Reddit</a>

<h1> Comment for Review: </h1>
<p>{{ comment.body }} </p><br><br>

<b>Context</b>
    <table style="width:40%">
    <tr>
        <th>Post</th>
        <th>Subreddit</th>
        <th>Comment Author</th>

    </tr>
    <tr>
        <td>{{ comment.submission }}</td>
        <td>{{ comment.subreddit }}</td>
        <td>{{ comment.author }}</td>  
    </tr>
    </table>
    <br><br>
    <b>  Details </b>
    <table style="width:40%">
    <tr>
        <th>Upvotes</th>
        <th>Downvotes</th>
        <th>Controversy</th>
    </tr>
    <tr>
        <td>{{ comment.upvotes}}</td>
        <td>{{ comment.downvotes }}</td>
        <td>{{ comment.controversiality }}</td>
    </tr>
    </table>
</div>
{% endfor %}

<br><br>


<form action="/submit" method="post">
    <input type="hidden" name="reviewer_id" value={{ session['reviewer id'] }}> 
    {% for comment in comments %}
    <div id="formobject-{{loop.index}}">
        <input type="hidden" name="item_id-{{loop.index}}" value={{comment.item_id}}>
        <input type="radio" name="label-{{loop.index}}" value="brand_safe" checked>Brand Safe<br>
        <input type="radio" name="label-{{loop.index}}" value="not_brand_safe">Not Brand Safe<br>
        Notes<input type="text" name="notes-{{loop.index}}" class="notes"><br>
    </div>
    {% endfor %}
    <br><br>

    <input type="button" name="back" value="back" class="back">
    <input type="button" name="next" value="next" class="next">
    <input type="submit" value="Submit" id="submit">
    </form>


<script src ="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/static/queue.js"></script>

{% endblock %}
