{% extends 'base.html' %}

{% block content %}

{% for comment in comments %}
<div id="reviewobject-{{loop.index}}">
{% for link_id, word in matches.items() %}
    {% if link_id == comment.link_id %}
    <div class="bannerwarning">Warning, Warning! This comment contains potential badwords: "{{word}}"</div>
    {% endif %}
{% endfor %}

Review Item {{loop.index}} <b>ID:</b> {{comment.link_id}}

<label class="switch">
<input type="checkbox">
<span class="slider round"></span>
</label><br>


{% if "imagemode" not in session %}
    <h1> Comment for Review: </h1>
        <p>{{ comment.body }} </p><br><br>
{% endif %}
{% if "imagemode" in session %}
        <h1> Image for Review: </h1>
            <img src="{{comment.body }}" alt="Oops, loading issue. Head to Reddit proper to see the image." height=400px class="imageforreview"><br><br>
{% endif %}

<b>Context</b>
    <table style="width:45%">
    <tr>
        <th>Post</th>
        <th>Subreddit</th>
        <th>Comment Author</th>

    </tr>
    <tr>
        <td><a href="https://www.reddit.com/{{ comment.permalink }}" target="_blank">{{ comment.submission }}</a></td>
        <td><a href="https://www.reddit.com/r/{{ comment.subreddit }}" target="_blank">{{ comment.subreddit }}</a></td>
        <td><a href="https://www.reddit.com/user/{{ comment.author }}" target="_blank">{{ comment.author }}</td>  
    </tr>
    </table>
    <br><br>
    <table style="width:40%">
    <tr>
        <th>Upvotes</th>
        <th>Downvotes</th>
        <th>Controversy</th>
    </tr>
    <tr>
        <td>{{ comment.upvotes}}</td>
        <td>{{ comment.downvotes }}</td>
        <td>{{ comment.controversiality }}</td>
    </tr>
    </table>
</div>
{% endfor %}

<br><br>


<form action="/submit" method="post">
    <input type="hidden" name="reviewer_id" value={{ session['reviewer id'] }}>
    <input type="hidden" name="batchsize" value={{batchsize}}> 
    {% for comment in comments %}
    <div id="formobject-{{loop.index}}">
        <input type="hidden" name="item_id-{{loop.index}}" value={{comment.item_id}}>
        <input type="radio" name="label-{{loop.index}}" value="brand_safe" checked>Brand Safe<br>
        <input type="radio" name="label-{{loop.index}}" value="not_brand_safe">Not Brand Safe<br>
        Notes<input type="text" name="notes-{{loop.index}}" class="notes"><br>
    </div>
    {% endfor %}
    <br><br>

    <input type="button" name="back" value="back" class="back">
    <input type="button" name="next" value="next" class="next">
    <input type="submit" value="Submit" id="submit" class="submit">
    </form>


<script src ="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/static/queue.js"></script>
<script type="text/javascript"> var batchsize = {{ batchsize }};</script>

{% endblock %}
