{% extends 'base.html' %}\

{%block content %}
<div class="container-fluid">

<h2> Comment Policies </h2>
<p> Not Safe if: profanity, overt racism, hate speech, clear bullying, spam or only content is a link, clearly produced by a bot, in clear support of terrorism, or related to a sensitive event (recent tragedy e.g. vegas shooting) where the poster is making light of or glorifying the event. </p>

<h2> Hot Keys </h2>
<p> Next: G<br>
Back: C <br>
Blur: B <br>
Submit: P <br>
 </p>


</div>

{% endblock %}